*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    background-color: palevioletred;
    color:palevioletred;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    position:relative;
    background:#fff;
    height: 25rem;
    width: 25rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    border-radius: 1rem;
    box-shadow: inset 0 0 4px 2px #000000;
}
.wrapper .symbols span{
    font-size:2rem;
    margin:0 0.5rem;
    border:2px solid palevioletred;
    color:#fff;
    background: palevioletred;
    height: 2.5rem;
    width: 2.5rem;
    border-radius:50%;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index:-1;
}
.main.view{
    z-index:2 !important;
}
.wrapper .question{
    font-size: 4rem;
    display: flex;
    width:70%;
    justify-content: space-between;
    text-align:center;
    line-height: 3.5rem;
    background: palevioletred;
    padding: 1rem;
    color: #ffffff;
    text-shadow: 4px 3px #996677;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px 1px #000000;
    align-items: center;
}
.confirm{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirm.view{
    z-index:2;
}
.answer{
    margin-top:1rem;
}
.answer input{
    display:flex;
    width:50%;
    padding:1rem 2rem;
    font-size:3rem;
    margin:0 auto;
    border:none;
    box-shadow:0px 0px 2px 3px inset palevioletred;
    outline:none;
    text-align: center;
    color:#555;
}